<div class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Prince Manager ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div >
                <ul class="nav navbar-nav navbar-left ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    

                    <li >@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li >@Html.ActionLink("About", "About", "Home")</li>
                    
                </ul>
            </div>           
            
            <div >
            
                <ul class="nav navbar-nav  navbar-right" >
                    <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                    <li>@Html.ActionLink("Signup", "Signup", "Auth")</li>             
                </ul>
            </div>    

        </div>
    </div>
    